
.App{
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    width: 800px;
    height: 600px;
    /* height: 300px; */
}


h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.directory{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    display: block;
}

.Breadcrumb {
    height: 62px;
    padding: 16px;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
}

.Breadcrumb > div{
    padding: 4px;
}

.Breadcrumb > div::after {
    content: " >";
}

.Breadcrumb > div:last-child::after {
    content: ""
}

.Breadcrumb > div:hover{
    background-color: #b1bfca;
    cursor: pointer;
}


* {
    box-sizing: border-box;
}


.Nodes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.Node {
    width: 140px;
    height: 150px;
    padding: 12px;
    margin: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    word-break: keep-all;
}

.Node img{
    min-height: 105px;
}

.modal-Wrapper{
    position: absolute;
    left: 0;
    top: 0;
    
    width: 100%;
    height: 100%;

    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    transition: 1s linear;
    z-index: 3;
}

.modal-Content{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    
    display: flex;
    justify-content: center;
    background-color:#E1E2E1; 
    flex-direction: column;
    align-items:center;
}

.modal-Content input{
    margin: 15px;
}

.modal-Content div button {
    margin: 10px;
}

.Modal-Content img{
    width: 500px;
    height: 500px;
}

.Loading-Wrapper {
    position : absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
}


.Loading-Wrapper > img{
    height: 50px;
    background-color: white;
    width: 50px;
}


.Node.active {
    background-color : #e3f2fd;
    /* transition: 0.3s ease-in-out; */
}

#context_menu {
    border : 1px solid black;
    background-color: #fff;
    width : 200px;
    border: 1px solid #b1bfca;
    transition:cubic-bezier(1, 0, 0, 1);
}

ul{
    list-style: none;
    border-radius: 10px;
}

#context_menu li{
    /* padding: 7px; */
    font-size: 10px;
    transition: 0.3s linear;
    border-bottom: 1px solidfv #b1bfca;
    
}

#context_menu li a {
    width: 100%;
    display: block;
    padding: 7px;
}

#context_menu li:hover{
    cursor: pointer;
    background-color: #b1bfca;
    
 
}

nav {
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: ; */
}

.modal-Wrapper{
    position: absolute;
    /* width: 100%;
    height: 100%; */
    display: flex;
    align-content: center;
    justify-content: center;
}

.dragRange {
    background-color : #e3f2fd;
    border: 1px solid #b1bfca;
    position: absolute;
    opacity: 0.7;
    z-index: 50;
}

.dragItem {
    width: 100px;
    height: 100px;
    background-color: black;
    z-index: 6;
    position: fixed;
    
}

.dragContainer{
    /* background-color: #e3f2fd; */
    /* width: 200px; */
    /* min-height: 50px; */
    /* border-radius: 10px; */
    /* border: 2px solid #b1bfca; */
    position: relative;
}

.dragContainer > .item{
  position: absolute;
  left: calc( var(--n) * 3px  );
  top: calc( var(--n) * 3px );
  background-color: #e3f2fd;
  z-index: calc( 10 - var(--n) );
  /* border: 2px solid black; */
  border-radius: 2px;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.3);
  width: 150px;
  height: 30px;
}




.dragContainer > .count{
  background-color:red;
  position: relative;
  top: -5px;
  left: 140px;
  
  width: 25px;
  height: 25px;
  z-index: 15;
  
  text-align: center;
  
  border-radius: 100%;
  

}

.dragElement{
    background-color: black;
    color: white;
}